@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DINPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINPro-Bold.svg#f72eedb964480472218d30fa54520bd8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINPro-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DINPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINPro-Light.svg#62f75ccd04c776030ca293d074e92944') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DINPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINPro-Medium.svg#43a856eecb2199e640a1a5bf1dc4a1e7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DINPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINPro-Regular.svg#3cb472b1a9451e4fa699bb9276f5d2ad') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

