.article__card {  
  position: relative;
  margin: 30px auto 0;
  width: 400px;
  height: 440px;
  border-radius: 3px;
  background: #FAFAFA;
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.50);
}

.article__card-background {
  width: 100%;
  height: 190px;
  border-radius: 3px 3px 0px 0px;
}

.article__card-info {
  padding: 15px 20px;
}

.article__card-tags {
  color: $c-gray;
  text-transform: uppercase;
  letter-spacing: $lt;
  font-size: 10px;
}

.article__card-tags__time {
}

.article__card-tags__tag {
  float: right;
  color: $c-gray; 
  text-decoration: none;
}

.article__card-title {
  margin: 0;
  padding: 0 15px;
  color: $c-gray-dark;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
}

.article__card-description {
  padding: 0 15px;
  color: $c-gray-dark;
  font-size: 14px;
  line-height: 19px;
}

.article__card-read {
  position: absolute;
  bottom: 0;
  padding: 20px 15px;
  width: 100%;
  border-top: 1px solid #808080;
  color: $c-gray-dark;
  text-transform: uppercase;
  letter-spacing: $lt;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
  
  &:after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    margin-top: -(13px/2);
    width: 21px;
    height: 13px;
    background: url(../images/arrow.svg);
    content: '';
  }
}